{% extends "pokedex/base.html" %}
{% load static %}
{% block content %}


 <div class="container justify-content-between " style="background-color:dark-yellow">

      <h3 style="font-size:50px; color:white;"> <b> Pokemon World is comprised of several Regions. </b>  </h3>
     <br>


      {% for r in regions %}

          <div class="card" style="width: 20rem; float: center;">
          <img class="card-img-top" src="{% static 'images/' %}{{r.name}}.png" alt="Card image cap">
          <div class="card-body">
            <h5 style="color:black;"> Map of {{r.name}} Region. </h5>
            <a href="https://bulbapedia.bulbagarden.net/wiki/{{r.name}}" class="btn btn-primary"> More About {{r.name}}</a>
          </div>
        </div>

     <br>
        <div class="text-white">

            <h2>Brief info.</h2>

            <p>  {{r.about}}</p>

            </div>


           {% endfor %}


</div>

{% endblock %}