{% extends "pokedex/base.html" %}
{% load static %}
{% block content %}



<h1 class="text-white"> Pokemon Stat Display. </h1>

 <h2 class="text-white"> Enter the name of the Pokemon. </h2>

      <div class="text-white bg-black-50">
        <h4 style="color:orange;" > Note:</h4>
 <ul>
        <li style="color:powderblue;"> Keep the first letter uppercase. eg- Pikachu.</li>
        <li style="color:powderblue;"> After typing, click anywhere on the
            page(except the white bar) to see what you have typed. <br>(Because the text
            is also taken in white color so it becomes invisible).</li>

 </ul>
    </div>



 <form action="{% url 'search' %}" method="post">

  {% csrf_token %}

     <div class="contaier">
    <h3 class="text-white"> {{form2}} </h3>
     </div>


     <div class="contaier">
    <h3 class="text-white"> The stats of {{poke}} are: </h3>
         <hr>
         <h4 class="text-white"> <strong>HP:</strong> {{ hp }} </h4>
         <h4 class="text-white"> <strong>Attack:</strong>  {{ attack }} </h4>
         <h4 class="text-white"><strong>Defense:</strong>  {{ defense }} </h4>
         <h4 class="text-white"> <strong>Special Attack:</strong> {{ specialA }} </h4>
         <h4 class="text-white"> <strong>Special Defense: </strong>{{ specialD }} </h4>
         <h4 class="text-white"><strong>Speed:</strong>  {{ speed }} </h4>

     </div>

    <br>


    <a href="{% url 'search' %}"><button onclick="" class="submit btn btn-primary btn-lg"> Check </button>  </a>



</form>


{% endblock %}